{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "helpers.js" import autocomplete %}

{% block app_content %}

    <div id="header-and-clock" class="row">
        <div class="col-xs-6">
            <h4>Auction {{ auction.id }}</h4>
        </div>
        {% if auction.time_limit and waiting_on %}
        <div class="col-xs-6">
            <h4 id="clock" class="text-right"></h4>
        </div>
        {% endif %}
    </div>
    <hr/>

    {% if lot %}

        <div id="lot" class="text-center">
            {% if lot.content %}
                    <h3>Lot {{ lot.number() }}</h3>
                    {% for card in lot.content %}
                        <img src="{{ card | url_for_card_name }}" width="24%"/>
                    {% endfor %}
            {% else %}
                <p>Place your bid.</p>
            {% endif %}
        </div>

        {% if not waiting_on %}

            <hr/>
            <div id="bids" class="text-center">
                <h3>Bids</h3>
                <ul class="list-unstyled">
                {% for bid in lot.final_bids() %}
                    {% if bid == lot.max_bid() %}<span style="color: green;">{% endif %}
                    {% if bid %}
                        <li>{{ bid.bidder.username }}: {{ bid.amount }}</li>
                    {% endif %}
                    {% if bid == lot.max_bid() %}</span>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

            {% if auction.creator == current_user %}
                <form class="form form-inline text-center" action="" method="post">
                    {{ advance_form.hidden_tag() }}
                    {{ wtf.form_field(advance_form.next_lot, form_type="inline", autofocus=true, placeholder="Nominate Card") }}
                    {{ wtf.form_field(advance_form.submit_advance) }}
                    {{ wtf.form_field(advance_form.submit_reset, class="btn btn-warning", onclick="return confirm('Are you sure you want to reset bids on this lot?');") }}
                </form>
            {% endif %}

        {% elif current_user.has_funds(auction) %}

            <br/>
            <form class="form form-inline text-center" action="" method="post">
                {{ bid_form.hidden_tag() }}
                {{ wtf.form_field(bid_form.amount, form_type="inline", autofocus=true, autocomplete="off", placeholder="Bid") }}
                {{ wtf.form_field(bid_form.submit_bid) }}
                {% if bid_form.amount.errors %}
                    <div class="has-error">
                        {% for error in bid_form.amount.errors %}
                            <p class="help-block">{{error}}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>

            {% if auction.creator == current_user %}
                <br/>
                <form class="text-center" action="" method="post">
                    {{ close_bidding_form.hidden_tag() }}
                    {{ wtf.form_field(close_bidding_form.submit_close, class="btn btn-warning", onclick="return confirm('Are you use you want to close bidding?');") }}
                </form>
            {% endif %}

        {% else %}

            <p>You have no funds left for this auction.</p>

        {% endif %}

    {% else %}

        <h3>Auction Complete!</h3>

    {% endif %}

    <hr/>
        <h3 class="text-center">Balances</h3>
    <ul class="list-inline text-center" style="display: flex">
        {% for balance in balances %}
            <li style="flex: 1">
                {% if balance.holder == current_user %}<b>{% endif %}
                {{ balance.holder.username }}: {{ balance.amount }}
                {% if lot and lot.max_bid().bidder == balance.holder and not waiting_on %}
                    <span style="color: red;">(-{{ lot.max_bid().amount }})</span>
                {% endif %}
                {% if balance.holder == current_user %}</b>{% endif %}
            </li>
        {% endfor %}
    </ul>
    <hr/>

    <div id="Picks" class="text-center">
        <h3>Picks</h3>
        {% include "pick_links.html" %}
    </div>

{% endblock %}

{% block app_scripts %}
    <script>
        function update_clock() {
            var time_limit = {{ auction.time_limit if auction.time_limit else 0}};
            var start_time = moment.utc("{{ lot.timestamp }}");
            var since_start = moment().diff(start_time);
            if (since_start >= 60*60*1000) {
                $("#clock").html("(stale lot)");
            } else {
                $("#clock").html(moment.utc(since_start).format("mm:ss"));
                if ((time_limit) && (since_start >= time_limit * 1000)) {
                    $("#clock").css("color", "red");
                }
            }
        }
        function refresh_auction(msg) {
            // Only refresh if the refresh message was for this auction.
            if (msg["auction.id"] === {{ auction.id }}) {
                window.location.reload();
            }
        }
        $(document).ready(function() {
            var socket = io.connect();
            {% if waiting_on and current_user not in waiting_on %}
                socket.on("a bid", refresh_auction);
            {% endif %}
            socket.on("next lot", refresh_auction);
            socket.on("reset", refresh_auction);
            socket.on("some bidders skipped", refresh_auction);

            // Check that the auction didn't advance to next lot already.
            $.get("/auction/{{ auction.id }}/status").then(function(data) {
                var incorrect_lot = ({{ lot.id }} !== data.current_lot_id);
                var incorrect_waiting_on = (
                    "{{ lot.waiting_on_serialized() }}" !== data.waiting_on
                );
                if (incorrect_lot || incorrect_waiting_on) {
                    // Refresh if it did.
                    window.location.reload();
                }
            });

            setInterval(update_clock, 100);
            update_clock();

            {{ autocomplete("next_lot", auction.pool.cards) }}
        });
    </script>
{% endblock %}
