{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "helpers.js" import autocomplete %}

{% block app_content %}
    <h1>Create Auction</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group {% if form.usernames.errors %}has-error{% endif %} required">
            {{ form.usernames.label }}<br/>
            {{ form.usernames() }}
            {% if form.usernames.errors %}
                {% for error in form.usernames.errors %}
                    <p class="help-block">{{error}}</p>
                {% endfor %}
            {% elif form.usernames.description -%}
                <p class="help-block">{{ form.usernames.description|safe }}</p>
            {% endif %}
        </div>
        {{ wtf.form_field(form.starting_balance) }}
        {{ wtf.form_field(form.default_lot, placeholder="None") }}
        {{ wtf.form_field(form.first_nom, placeholder="None") }}
        {{ wtf.form_field(form.time_limit, placeholder="None") }}
        {{ wtf.form_field(form.submit_create) }}
    </form>
{% endblock %}

{% block app_scripts %}
    <script>
        $(document).ready(function(){
            {{ autocomplete("first_nom", cube_card_names) }}
        });
    </script>
{% endblock %}
