{% extends "base.html" %}

{% block app_content %}
    {% if user %}
        <h1>{{ user.username }}'s Picks for Auction {{ auction.id }}</h1>
        <ul class="nav nav-pills">
            <li class="active">
                <a id="pick-order-tab" data-toggle="pill" href="#pick-order" role="tab" aria-controls="pick-order" aria-selected="true">By Pick Order</a>
            </li>
            <li>
                <a id="color-order-tab" data-toggle="pill" href="#color-order" role="tab" aria-controls="color-order" aria-selected="false">By Color</a>
            </li>
        </ul>
        <br>
        <div class="tab-content" id="tabContent">
            <div class="tab-pane fade active in" id="pick-order" role="tabpanel" aria-labelledby="pick-order-tab">
                {% if pick_sorted %}
                    {% for card in pick_sorted %}
                        <img src="{{ card | url_for_card_name }}" width="24%"/>
                    {% endfor %}
                {% else %}
                    <p>{{ user.username }} hasn't made any picks yet.</p>
                {% endif %}
            </div>
            <div class="tab-pane" id="color-order" role="tabpanel" aria-labelledby="color-order-tab">
                {% if color_sorted %}
                    {% for card in color_sorted %}
                        <img src="{{ card | url_for_card_name }}" width="24%"/>
                    {% endfor %}
                {% else %}
                    <p>{{ user.username }} hasn't made any picks yet.</p>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h1>Auction {{ auction.id}} Results</h1>
        {% include "pick_links.html" %}
    {% endif %}
{% endblock %}
